<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conditional</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
    <h1 align="center">제어문</h1>

    <h2>th:if, th:unless</h2>
    <h3>
        th:if는 변수 표현식을 OGNL을 활용한 조건식으로 조건문을 작성하면
        결과가 true일 때 해당 태그범위가 처리된다.
        th:unless는 표현식의 OGNL을 활용한 결과가 false 일때 해당 태그 범위가 처리된다,
        OGNL : 객체속성에 접근하고 조작하기 위한 포현식언어
    </h3>
    <p th:if="${ num > 0}">넘어온 값은 0보다 크다</p>

    <p th:if="${ num < 0}">넘어온 값은 0보다 작다</p>

    <p th:unless="${ num < 0}">넘어온 값은 0보다 크다</p>

    <th:block th:if="${str == '사과'}">
        <p>사과 좋아요</p>
    </th:block>
    <th:block th:if="${str == '바나나'}">
        <p>바나나 좋아요</p>
    </th:block>

    <!--and나 or를 사용해서 다중 조건 처리도 가능-->
    <p th:if="${num > 0 and num <= 10}">1부터 10까지의 양수</p>
    <p th:if="${str != null or str == '바나나'}">바나나 좋아요</p>

    <!--$strings라는 Utility Objects 에서 제공하는 메소드를 통해 null에 대한 처리 가능-->
    <p th:if="${ !#strings.isEmpty(str) and str == '바나나'}">바나나 좋아요</p>

    <h2>th:switch, th:case</h2>
    <h3>th:switch와 thLcase 를 통해 조건의 값이 어떤 case에 해당하는지에 따라 태그를 선택가능</h3>
    <th:block th:switch="${str}">
        <span th:case="사과">사과가 선택 되었습니다.</span>
        <span th:case="바나나">바나나가 선택 되었습니다.</span>
    </th:block>

    <h2>th:each</h2>
    <h3>
        th:each를 통해 태그들을 반복 할 수 있다.
    </h3>

    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
        </tr>
        <tr th:each="member : ${ memberList }">
            <td th:text="${member.name}">홍길동</td>
            <td th:text="${member.age}">20</td>
            <td th:text="${member.gender}">남</td>
            <td th:text="${member.address}">서울시 서초구</td>
        </tr>
    </table>

    <h3>th:each에 stat을 추가해서 반복상태를 확인 할 수 있다.</h3>
    <p>
        index : 0부터 시작하는 인덱스 값<br>
        count : 1부터 시작하는 값<br>
        current : 현재 객체의 정보<br>
        even : 짝수 번째 데이터 여부<br>
        odd : 홀수 번째 데이터 여부<br>
        first : 첫 번째 데이터 여부<br>
        last : 마지막 데이터 여부
    </p>

    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>INDEX</th>
            <th>COUNT</th>
            <th>SIZE</th>
            <th>CURRENT</th>
            <th>EVEN</th>
            <th>ODD</th>
            <th>FIRST</th>
            <th>LAST</th>
        </tr>
        <tr th:each="member, stat : ${ memberList }">
            <td th:text="${member.name}">홍길동</td>
            <td th:text="${member.age}">20</td>
            <td th:text="${member.gender}">남</td>
            <td th:text="${member.address}">서울시 서초구</td>
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${stat.size}"></td>
            <td th:text="${stat.current}"></td>
            <td th:text="${stat.even}"></td>
            <td th:text="${stat.odd}"></td>
            <td th:text="${stat.first}"></td>
            <td th:text="${stat.last}"></td>
        </tr>
    </table>

    <h3>th:each 에 stat을 추가하지 않으면 '변수명 + Stat'으로 반복상태를 확인 할 수 있다.</h3>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>INDEX</th>
            <th>COUNT</th>
            <th>SIZE</th>
            <th>CURRENT</th>
            <th>EVEN</th>
            <th>ODD</th>
            <th>FIRST</th>
            <th>LAST</th>
        </tr>
        <tr th:each="member : ${ memberList }">
            <td th:text="${member.name}">홍길동</td>
            <td th:text="${member.age}">20</td>
            <td th:text="${member.gender}">남</td>
            <td th:text="${member.address}">서울시 서초구</td>
            <td th:text="${memberStat.index}"></td>
            <td th:text="${memberStat.count}"></td>
            <td th:text="${memberStat.size}"></td>
            <td th:text="${memberStat.current}"></td>
            <td th:text="${memberStat.even}"></td>
            <td th:text="${memberStat.odd}"></td>
            <td th:text="${memberStat.first}"></td>
            <td th:text="${memberStat.last}"></td>
        </tr>
    </table>

    <h3>#number Utility object를 이용해 반복문 작성하기</h3>
    <!-- 1부터 5까지 반복하겠다 -->
    <th:block th:each="num : ${#numbers.sequence(1,5)}">
        <!-- ||로 감싸야 한다. 그렇지 않으면 특수문자를 그냥 문자로 인식하기 때문-->
        <a th:href="@{|/numbering/${ numStat.count }|}" th:text="번호 + ${ num }"></a>
    </th:block>
</body>
</html>