<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1> 기본화면입니다</h1>
  <h1>🎇🎇Index🎇🎇</h1>
  <div>
    <a sec:authorize="isAnonymous()" th:href="@{/member/register}">Register</a>
  </div>
  <div>
    <a sec:authorize="isAnonymous()" th:href="@{/auth/login}">Login</a>
  </div>

  <div sec:authorize="isAuthenticated()">
      <a>[[| ${ #authentication.principal.member.name } / ${ #authentication.principal.username }|]]</a>
  </div>

  <div sec:authorize="isAuthenticated()">
      <form th:action="@{/auth/logout}" method="post">
          <button>Logout</button>
      </form>
  </div>

  <div sec:authorize="isAuthenticated()">
      <a th:href="@{/board/create}">Create Board</a>

      <form id="searchForm">
          <label for="boardId">게시물 ID:</label>
          <input type="number" id="boardId" name="boardId" required/>
          <button type="button" onclick="searchBoard()">조회하기</button>
      </form>
  </div>

  <div sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/admin/admin}">Admin</a>
  </div>

  <script>
      function searchBoard() {
          const boardId = document.getElementById('boardId').value;
          if (boardId) {
              window.location.href = `/board/${boardId}`;
          }else{
              alert('게시글 ID를 입력하세요')
          }
      }
  </script>

</body>
</html>